<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="2"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>

<body onscroll="scrol()">
    <header>
        <nav class="nav">
            <img src="img/logo2.jpg" alt="Logo">
            <ul>
                <li><a href="index.html">Home </a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html"><button>
                            Contact us
                        </button></a></li>

            </ul>
        </nav>
        <br>
        <hr>
    </header>

    <footer>Copyright © 2023 Abdur Raheem Chaudry.</footer>


</body>

</html>